

</div>
</div>
</main>
<!-- end main -->
</div>
<!-- start footer -->
<footer class="footer-distributed">
   <div class="footer-left">

      <p class="footer-links">
         <a href="/">Home</a>
         ·
         <a href="/about">About</a>
         ·
         <a href="/contact">Contact US</a>
      </p>
     
   </div>
   <div class = "footer-center" >
      <div class = "footer-icons">
         <a class="fa fa-map-marker">
         </a>
         <p><span>10 vanessa drive, ON L3V 7Y9</span> Orillia, Canada</p>
      </div>
      <div class = "footer-icons">
         <a class="fa fa-phone"></a>
         <p>+1 705 500 4460</p>
      </div>
      <div class = "footer-icons">
         <a class="fa fa-envelope"></a>
         <p>georgiancollege@student.georgianc.on.ca</p>
      </div>
   </div>
   <div class="footer-right">
      <p class="footer-company-about">
         <span>Social Contact</span>
      </p>
      <div class="footer-icons"><!-- Social links -->
         <a href="https://www.facebook.com/groups/1145586608809318/" target="_blank"><i class="fa fa-facebook"></i></a>
         <a href="https://twitter.com/himanshupatel06/lists/furious-5" target="_blank"><i class="fa fa-twitter"></i></a>
         <a href="https://www.linkedin.com/in/ritesh-patel-5b147b6a?trk=nav_responsive_tab_profile" target="_blank"><i class="fa fa-linkedin"></i></a>
         <a href="https://github.com/patelritesh261/portfolio_ritesh" target="_blank"><i class="fa fa-github"></i></a>
      </div>
   </div>
</footer><!-  end footer -->
<!-- javacsript -->
<script src="Scripts/lib/jquery/dist/jquery.min.js"></script>
<script src="Scripts/lib/bootstrap/dist/js/bootstrap.min.js"></script>
<script src="Scripts/app.js"></script>
<!-- Script to Activate the Carousel -->
<script>
   $('.carousel').carousel({
       interval: 5000 //changes the speed
   })
</script>
</body><!-- End Body tag -->
</html><!-- End Html tag -->