<% include partials/header.ejs %>
<% include partials/navbar.ejs %>

<style>
.service-details .col-sm-6:first-child .item:hover{background:transparent !important;}
.service-details .col-sm-6:nth-child(2) .item:hover{background:transparent !important;}
.service-details .col-sm-6:nth-child(3) .item:hover{background:transparent !important;}
.service-details .col-sm-6:nth-child(4) .item:hover{background:transparent !important;}
.image {
    width: 298px;
    height: 298px;
    
}
</style>

<section id="about" class="about">
    <div class="about-top">
      <div class="section-padding">
        <div class="container">
          <div class="row">
              
            <div class="col-md-7">
                <div class="know-about-us wow animated fadeInLeft" data-wow-delay=".5s">
                    <h2 class="section-title">We are <span>P&P </span>Creative Web Developers Team</br><div class="col-md-7 col-md-offset-5"><i><small>-A team that loves to create.</small></i></div></h2><!-- /.section-title -->
                    <p class="description">
                      P&P Limited is a creative web developers team and we love what we do. Our goal is to create conceptually interesting and visually stunning websites
                    </p><!-- /.description -->


                    <div class="section-details">
                        <div class="service-details">
                            
                            <div class="col-md-3 col-sm-6">
                                <div class="item wow animated fadeInLeft" data-wow-delay=".5s">
                                <div class="item-icon">
                                   <img src="/images/ritesh.jpg" alt="Logo" >
                                </div><!-- /.item-icon -->
                                <div class="item-details">
                                    <font color = "black">Ritesh Patel</font><!-- /.item-title -->
                                    <p ></br>
                                    Area of expertise:-Express js, Database, java, ASP.NET
                                    </p><!-- /.item-description -->
                                </div><!-- /.item-details -->
                                </div><!-- /.item -->
                            </div>

                            <div class="col-md-3 col-sm-6">
                                <div class="item wow animated fadeInLeft" data-wow-delay=".35s">
                                <div class="item-icon">
                                    <img src="/images/himanshu.jpg" alt="Logo" >
                                </div><!-- /.item-icon -->
                                <div class="item-details">
                                    <font color = "black">Himanshu Patel</font><!-- /.item-title -->
                                    <p></br>
                                    Area of expertise:-Express js, Android, C#
                                    </p><!-- /.item-description -->
                                </div><!-- /.item-details -->
                                </div><!-- /.item -->
                            </div>
                            
                            <div class="col-md-3 col-sm-6">
                                <div class="item wow animated fadeInRight" data-wow-delay=".35s">
                                <div class="item-icon">
                                    <img src="/images/rutvik.jpg" alt="Logo" >
                                </div><!-- /.item-icon -->
                                <div class="item-details">
                                    <font color = "black">Rutvik Patel</font><!-- /.item-title -->
                                    <p></br>
                                    Area of expertise:-Express js, java, c, Database
                                    </p><!-- /.item-description -->
                                </div><!-- /.item-details -->
                                </div><!-- /.item -->
                            </div>

                            <div class="col-md-3 col-sm-6">
                                <div class="item wow animated fadeInRight" data-wow-delay=".35s">
                                <div class="item-icon">
                                    <img src="/images/paro.jpg" alt="Logo"  height="298" width="298">
                                </div><!-- /.item-icon -->
                                <div class="item-details">
                                    <font color = "black">Parvati Patel</font><!-- /.item-title -->
                                    <p></br>
                                    Area of expertise:-Express js, c, html, Database
                                    </p><!-- /.item-description -->
                                </div><!-- /.item-details -->
                                </div><!-- /.item -->
                            </div>
                       </div>
                    </div>

                </div>
            </div>

            <div class="col-md-5">
              <div class="our-skills wow animated fadeInRight" data-wow-delay=".5s">
                <h2 class="section-title"><span>Our</span> survey popularity</h2><!-- /.section-title -->
                <div class="skill-bars">
                  <div class="progress">
                    <div class="progress-bar" role="progressbar" aria-valuenow="89" aria-valuemin="0" aria-valuemax="100" style="width: 89%;">
                      <span class="skill-name">MCQ type question's surveys</span>59%
                    </div>
                  </div>
                  <div class="progress">
                    <div class="progress-bar" role="progressbar" aria-valuenow="70" aria-valuemin="0" aria-valuemax="100" style="width: 70%;">
                      <span class="skill-name">Agree/Disagree type quetion's survey</span>41%
                    </div>
                  </div>
                  
                </div><!-- /.skill-bars -->
              </div><!-- /.our-skills -->
            </div>
         

            </div><!-- /.service-details -->
          </div><!-- /.section-details -->
       
            
          </div><!-- /.row -->
        </div><!-- /.container -->
      </div><!-- /.section-padding -->
    </div><!-- /.about-top -->

    <script>
    function showDiv() {
   document.getElementById('welcomeDiv').style.display = "block";
}
    </script>

<% include partials/footer.ejs %>
