<% include /partials/header.ejs %>
<% include /partials/navbar.ejs %>
<main class="container">
    <h1>Create Survey</h1>

   

     <div class="form-group text-right">
                   
                     <a href="/multiple">
                    <input type="button" class="btn btn-success" value="Multiple Choice Question"/>
                    </a>
                    <a href="/users">
                    <input type="button" class="btn btn-success" value="Agree/Disagree"/>
                    </a>
                </div>
<% include /partials/footer.ejs %>