<% include partials/header.ejs %>
<% include partials/navbar.ejs %>

        <div class="content">
        <section id="services" class="services text-center">
    <div class="section-padding">
      <div class="container">
        <div class="row">
          <div class="section-top wow animated fadeInUp" data-wow-delay=".5s">
            <p><font color="green"><b><i><h2>Create Surveys. Get Answers.</h2></b></i></font></p>
        
            
          </div><!-- /.section-top -->

          <div class="section-details">
            <div class="service-details">
            
              <div class="col-md-3 col-sm-6">
                <div class="item wow animated fadeInLeft" data-wow-delay=".5s">
                <div class="item-icon">
                    <i class="fa fa-lightbulb-o"></i>
                  </div><!-- /.item-icon -->
                  <div class="item-details">
                    <h4 class="item-title">Create Survey</h4><!-- /.item-title -->
                    <p class="item-description"></br>
                      Create survey or start using one of existing template.
                    </p><!-- /.item-description -->
                  </div><!-- /.item-details -->
                </div><!-- /.item -->
              </div>

              <div class="col-md-3 col-sm-6" max-width: 500px;>
                <div class="item wow animated fadeInLeft" data-wow-delay=".35s">
                  <div class="item-icon">
                    <i class="fa fa-share"></i>
                  </div><!-- /.item-icon -->
                  <div class="item-details">
                    <h4 class="item-title">Send Survey</h4><!-- /.item-title -->
                    <p class="item-description">
                    When you will complete survey it will send the link of the survey through E-mail to whome you want to send.
                     
                    </p><!-- /.item-description -->
                  </div><!-- /.item-details -->
                </div><!-- /.item -->
              </div>
              
              <div class="col-md-3 col-sm-6">
                <div class="item wow animated fadeInRight" data-wow-delay=".35s">
                  <div class="item-icon">
                    <i class="fa fa-reply-all"></i>
                  </div><!-- /.item-icon -->
                  <div class="item-details">
                    <h4 class="item-title">Get Feedback For Survey</h4><!-- /.item-title -->
                    <p class="item-description"></br>
                      Dhen user get the link of survey he/she will provide the feedback on it.
                    </p><!-- /.item-description -->
                  </div><!-- /.item-details -->
                </div><!-- /.item -->
              </div>

              <div class="col-md-3 col-sm-6">
                <div class="item wow animated fadeInRight" data-wow-delay=".35s">
                  <div class="item-icon">
                    <i class="fa fa-pie-chart"></i>
                  </div><!-- /.item-icon -->
                  <div class="item-details">
                    <h4 class="item-title">Analyze</h4><!-- /.item-title -->
                    <p class="item-description"></br>
                      After receiving feedback from the users analysing process is carried out.
                    </p><!-- /.item-description -->
                  </div><!-- /.item-details -->
                </div><!-- /.item -->
              </div>

              

            </div><!-- /.service-details -->
          </div><!-- /.section-details -->
        </div><!-- /.row -->
      </div><!-- /.container -->
    </div><!-- /.section-padding -->
  </section><!-- /#services -->

  <!-- Service Section-->

        
        
        </div>
        <div class="col-md-3 col-md-offset-4">
        <a href="/register">
         <input type="button" class="btn btn-success" value="Start Today. Get registered."/>
         </a><br/><br/>
         </div>
        </div>
    </main>
<% include partials/footer.ejs %>
    
