<% include partials/header.ejs %>
<% include partials/navbar.ejs %>
     <main class="container">
    
      <div class="row">
        <div class="col-md-offset-4 col-md-4">
        <br/>
          <!-- Display flash messages  -->
	 <% if (messages.length > 0) { %>
        <div class="alert alert-danger"><%= messages %></div>
      <% } %>
          
            <font color="green"><b><i><h2>Please Login</h2></b></i></font>
            <form method="post" class="form-horizontal">
  <div class="form-group">
    <label for="username" class="col-sm-3 control-label">Username:</label>
    <div class="col-sm-9">
     <input type="text" class="form-control" name="username" placeholder="User Name" required autofocus/>
    </div>
  </div>
  <div class="form-group">
    <label for="password" class="col-sm-3 control-label">Password:</label>
    <div class="col-sm-9">
     <input type="password" class="form-control" name="password" placeholder="Password" required/>
                    or <a href="/register">Register</a>
     
    </div>
  </div>
  
  
  <div class="form-group text-right row">
                    <div class="col-md-4 col-md-offset-4">
     <input type="submit" class="btn btn-success" value="Log In"/>
     </div>
     <div class="col-md-4">
                    <a href="/">
                        <input type="button" class="btn btn-warning" value="Cancel"/>
                    </a>
                    </div>
  </div>
</form>
         </div> 
      </div>
    </main>
<% include partials/footer.ejs %>